# Python
__pycache__/
*.py[cod]
backend/data/faiss/*

# Virtual environments
venv/
.env
.env.*

# Django
db.sqlite3
media/
staticfiles/

# Logs
*.log

# IDEs
.vscode/
.idea/

# Node
node_modules/

# ML artifacts
models/
checkpoints/
*.pt
*.bin
*.onnx
